<div class="complex">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ftr-trigger">
					<h6>Есть вопросы или предложения?</h6>
					<p>Перейдите в раздел FAQ's, отправте нам email или свяжитесь с нами по форме обратной связи</p>
					<div class="contact">
						<%= link_to 'Написать нам', controller: "posts", action: "new" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<footer>

</footer>