<% if has_role?(:admin) %>


<div class="container">
  <div class="row">
    <%= render "components/admin-left" %>
  </div>
</div>


<% elsif has_role?(:manager) %>

Manager inda hooooooouseeee

<script type="text/javascript">
    window.location.href="/posts"  // put your correct path in a string here
  </script>
  <% end %>