<% if has_role?(:admin) %>

<div class="topic">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<%= render "components/admin-left" %>
			</div>
		</div>
	</div>
</div>


<% elsif has_role?(:manager) %>

Manager inda hooooooouseeee

<script type="text/javascript">
    window.location.href="/posts"  // put your correct path in a string here
</script>
<% end %>