<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<%= image_tag "tbl.jpg" %>
			<!--

				<h1>Форум о работе, трудоустройстве и проживании за рубежом</h1>
			-->			
		</div>

			<!--
			<div class="col-lg-12">
				<div class="log-in">
					<input type="text" placeholder=" Логин">
					<input type="text" placeholder=" Введите пароль">
					<button>Войти</button>
				</div>
			</div>
		-->
		<div class="col-lg-9">
			<div class="topiclist">
				<p class="section"><i class="fa fa-file-text-o" aria-hidden="true"></i> Первый раздел</p>
				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block"><%= link_to "Трудоустройство в Норвегии", frmsecond_path %>
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Черный список фирм по трудоустройству
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Оформление визы и легализация работы
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Культура, традиции и особенности
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Сообщества украинцев за рубежом
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>


			</div>





			<div class="topiclist">
				<p class="section"><i class="fa fa-file-text-o" aria-hidden="true"></i> Второй раздел</p>
				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Трудоустройство в Норвегии
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Черный список фирм по трудоустройству
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Оформление визы и легализация работы
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Культура, традиции и особенности
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>

				<ul>
					<li>
						<div class="icons"><i class="fa fa-comments-o" aria-hidden="true"></i> </div>
						<div class="block">Сообщества украинцев за рубежом
							<p class="top-desc">Краткое описание этой темы</p>
						</div>
						<div class="topics-cn">3
							<p>Тем(ы)</p>
						</div>

						<div class="topics-cn">3
							<p>публикации</p>
						</div>

						<div class="topics-time">Ссылка на поледний овет
							<p>ответил <strong>admin</strong> 22.10.2018</p>
						</div>


					</li>
				</ul>


			</div>
		</div>
		<div class="col-lg-3">
			<div class="topiclist">
				<p class="section"><i class="fa fa-bar-chart" aria-hidden="true"></i> Рекламный блок</p>
				<div class="adv">
					<%= image_tag "esw.gif" %>
				</div>
			</div>

			<div class="topiclist">
				<p class="section"><i class="fa fa-bar-chart" aria-hidden="true"></i> Рекламный блок</p>
				<div class="adv">
					<ul>
						<li id="stat">Сейчас на сайте: 5</li>
						<li class="stat">Всего тем: 5</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>