header {
	background-color: #4390ff;
	z-index: 9999;

}
.user-logo {
	width: 35px;
	margin-top: 0 !important;
}
.logo {
	display: -webkit-box;
	margin: 10px 0 10px 0;
	a {
		color: #fff;
	}
	p {
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		margin: 14px 8px 0 0;
	}
	img {
		width: 32%;
	}
}
.menu {
	float: right;
	a {
		color: #fff;
	}
	ul li {
		list-style-type: none;
		display: inline-block;
		margin: 24px 12px 0 12px;
	}
}

.add-post {
	a {
		color: #fff;
		border-radius: 6px;
		border: 2px solid gold;
		padding: 10px;
	}
	a:hover {
		background-color: gold;
		color: #000;
	}
}

